<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
</head>

<body>

<section class="heading">
    <h1>ToDo List App</h1>
    <!-- <h2>< day %>,< dateOfDay%> < monthOfDate %> </h2>  just add EJS-->
    <h2><%= day %></h2>
</section>


<div class="container">  
<div class="addTasks">
    <div class="taskAdd">
    <form action="/submit" method="POST">
    <input  type="text" name= "tasks" placeholder="ENTER YOUR TASK" class="input-class">
    <button name="list" value="<%= day %>"> + </button>   
</form>
</div>

<div class="taskArea">
    <% if (locals.task) {  %>
    <% for (var i=0 ; i<task.length ; i++) { %>
    <div class="bulletPoint">
        <form action="/removeTask" method="POST">
        <li> <input type="checkbox" name = "delete" value='<%= task[i]._id %>' 
            onChange = "this.form.submit()"> 
            <%= task[i].name %>  </li>  
         <!-- <button type="submit" name="delete" value='just add value from input'> - </button> -->
         <input type="hidden" name = "listName" value= '<%=day%>'></input>
        </form>
    </div>
    
    <% } %>    
    <% } %>
</div>
</div>
</div> 



</body>
</html>